*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
/* header style */
header{
    background-color: black;
    color: white;
    padding: 20px 30px;
    margin: 10px 0px;

}


h1{
    font-size: 45px;
    color: darkgoldenrod;
    width: 75%;
    margin: 0 auto;
}
.slogan{
    width: 80%;
    margin-bottom: 25px;
}
.slogan p{
    font-size: 20px;
}
h1 span{
    color: white;
}
header p{
    
    width: 65%;
    margin: 0 auto;
}
header nav{
    
    width: 80%;
    margin: 0 auto;
}
header nav ul{
    display: flex;
    justify-content: left;
    list-style: none;
    gap: 15px;

}
header nav ul li{
    display: inline;
    
}
header nav ul li a{
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: chartreuse;
    padding:5px;

}
ul li a{
    font-size: 18px
}
header nav ul li a:hover{
    color: white;
    background-color: darkgoldenrod;
    padding: 10px 5px;

}
header nav ul li a:active{
    background-color: darkgoldenrod;
}
header nav ul li a:focus-visible{
    outline: none;
}
header nav ul li a:focus:not(:focus-visible){
    background-color: darkgoldenrod;
}
/* main style for contact and about html */
.container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    
}
  
.inner-wrapper {
    flex: 2; 
    margin-right: 20px;
}
article p{
    margin: 10px;
}
  
aside {
    flex: 1; 
 }
aside ul li a{
    color: black;
}
aside ul li{
    list-style: none;
}
.sponsor-span{
    opacity: 0.6;
}
.menu li{
    padding: 10px;
}
.green{
    color: #4CAF50;
}
main h3{
    padding: 20px 0;
    margin: 8px;
}
.form-container{
    margin: 0 auto;
    max-width: 950px;
}
.contact-intro p{
    margin: 10px;
}
.form-group{
    display: block;
    margin-bottom: 8px;
}
.form-group input, .form-group label{
    width: 90%;
    margin: 8px;
    padding: 8px;
}
.form-group textarea {
    width: 90%;
    height: 25vh;
    margin: 8px;
    padding: 8px;
}
.submit-button {
    width: 100px;
    padding: 6px;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px;
    border: 1px solid #2a2a2a;
    
    
}
.submit-button:hover {
    background-color: #2a2a2a;
    color: white;
}
/* footer style */
footer{
    background-color: #2a2a2a;
    text-align: center;
    color: white;
    
}
.footer-container{
    padding: 20px 30px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.footer-content{
    flex: 1;
    padding: 20px;

}
footer h3{
    padding-bottom: 20px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
}

.img-wrapper-1,
.img-wrapper-2 {
    display: flex; 
    flex-direction: row;
    gap: 8px; 
}

.img-wrapper-1 img,
.img-wrapper-2 img {
    width: 150px; 
    height: auto; 
}
.about {
    display: block;
    color: #fff; 
    /* font-family: Arial, sans-serif; Use a clean font */
    font-size: 16px; 
    line-height: 1.5; 
    padding: 0 16px; 
    max-width: 600px; 
    margin: 0 auto; 
}
.about img {
    float: left; 
    margin-right: 16px; 
    margin-bottom: 16px; 
    width: 150px; 
    height: auto; 
    
}
.about p {
    text-align: justify; 
    margin: 0; 
}
.contact p{
    text-align: justify;
    margin: 0;
    line-height: 1.5;
}
.lower-nav, .nav-links{
    display: flex;
    background-color: black;
}
.lower-nav{
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}
.nav-links{
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: white;
    text-decoration: none;
    
}
a:hover{
    color:  chartreuse;
    text-underline-offset: 1rem;
    
}
footer nav ul li{
    display: inline;
    padding: 10px 5px;
}
.lower-nav p{
    color: white;
}